/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}
ul {
  list-style: none;
}
li {
  line-height: 2.2;
}
h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.form {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* border: 2px solid red; */
}
.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  color: #000;
}
.btn {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transform: scale(0.98);
}
.reg_link{
    cursor: pointer;
    display: flex;
   
}
.reg_link:hover{
    text-decoration-line: underline;
}

.handme{
    padding-top: 2px;
    margin-right: 8px;
    transform: scale(1);
}
.handme:hover{
    transform: scale(2);
}
.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
  text-align: center;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 60%;
  gap: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.ticket-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.ticket-number {
  margin-bottom: 30px;
}

.ticket-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.ticket-number p {
  font-size: 1.3rem;
}

.ticket-info {
  font-size: 1.3rem;
}