.heading-tag {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

.heading-tag p {
  color: #828282;
  text-align: center;
}

.form--ticket {
  /* border: 2px solid red; */
  width: 60%;
  margin: 0 auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form-form-ticket {
  /* border: 2px solid red; */
  width: 60%;
  margin: 0 auto;
}

.btn-block-T {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}
.back{
  /* border: 2px solid red; */
  display: flex;
  margin: 0 auto;
  width: 60%;
  align-items: flex-end;
  justify-content: flex-start;
}
.h-ticket{
   text-align: center;
}


.btn-t {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-t:hover {
  transform: scale(0.98);
}
/* .ticket-display{
  overflow-y: scroll;
} */