.all-T {
  padding: 10px;
}

.heading-tag {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 20px;
  text-align: center;
}

.heading-tag p {
  color: #828282;
  text-align: center;
}

.form--ticket {
  /* border: 2px solid red; */
  width: 60%;
  margin: 0 auto;
  gap: 5px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.form-form-ticket {
  /* border: 2px solid red; */
  width: 60%;
  margin: 0 auto;
}

.btn-block-T {
  width: 100%;
  gap: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}
.back {
  /* border: 2px solid red; */
  display: flex;
  margin: 0 auto;
  width: 60%;
  align-items: flex-end;
  justify-content: flex-start;
}
.h-ticket {
  text-align: center;
}

.btn-t {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-t:hover {
  transform: scale(0.98);
}
/* .ticket-display{
  overflow-y: scroll;
} */

.btn-close-tag {
  cursor: pointer;
  color: #000;
  outline: none;
  border: none;
}

/* new ticket design  */

.ticket--new {
  margin: 0 auto;
  /* border: 2px solid red; */
  width: 60%;
  backdrop-filter: blur(10px);
  box-shadow: 6.7px 2.7px 20px rgba(0, 0, 0, 0.06),
    22.3px 8.9px 67.2px rgba(0, 0, 0, 0.035),
    100px 40px 301px rgba(0, 0, 0, 0.024);
}

.ticket--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.ticket--content {
  /* border: 2px solid red; */
  padding: 40px;
}
.new-btn {
  margin-bottom: 10px;
  gap: 5px;
}

.status--new {
  display: flex;
  gap: 5px;
  font-size: 18px;
  /* border: 2px solid red; */
}

.footer {
  /* display: flex; */
  /* border: 2px solid red; */
  padding: 40px;
  margin-top: 40px;
  position: sticky;
  top: 95vh;
  text-align: center;
}

.btn-download {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.btn-download:hover {
  transform: scale(0.98);
}

.button-fix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid red; */
  margin-bottom: 15px;
}
.del {
  padding-left: 5px;
  text-align: center;
}

.btn-del {
  background-color: rgb(76, 79, 81);
  outline: none;
  border: none;
  margin: 5px;
}
.btn-del:hover {
  content: "delete";
}

.main--ticket--div {
  padding-left: 20px;
}
.breadcrumb--tickets {
  padding-left: 12px;
  /* border: 2px solid red; */
}

@media print {
  body {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
  }
  .hidden-print,
  .hidden-print * {
    display: none !important;
  }
  .ticket--new {
    box-shadow: none;
    width: fit-content;
    font-family: "Courier New", Courier, monospace;
  }
  .ticket--header {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
}
