.login {
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.form {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* border: 2px solid red; */
}
.form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  color: #000;
}
.btn {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transform: scale(0.98);
}


.reg_link{
    cursor: pointer;
}
.reg_link:hover{
    text-decoration-line: underline;
}